@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

/* tất cả các link */
a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
body{
	background: url(../images/love.png);
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

body {
	line-height: 24px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
}



h3, h5{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

/* chỉnh sửa header */
.header_area {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.header_area .navbar {
	background: transparent;
	padding: 0px;
	border: 0px;
	border-radius: 0px;
}

#navbarSupportedContent{
	font-size: 18px;
}

#navbarSupportedContent{
	margin-top: 10px;
}

.header_area .navbar .nav .nav-item {
	margin-right: 30px;
}

.header_area .navbar .nav .nav-item .nav-link {
	font: 500 18px/100px "Roboto", sans-serif;
	text-transform: uppercase;
	color: black;
	padding: 0px;
	display: inline-block;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
	color: red;
}

.header_area .navbar .nav .nav-item.submenu {
	position: relative;
}

/* vị trí banner và các nút đăng nhập, tạo tài khoản */
.home_banner_area {
	position: relative;
	z-index: 1;
	min-height: 800px;
}

.home_banner_area .banner_inner {
	position: relative;
	overflow: inherit;
	width: 100%;
	min-height: 1000px;
}


.home_banner_area .banner_inner .banner_content {
	color: #000;
}

.home_banner_area .banner_inner .banner_content h3 {
	font-size: 36px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 45px;
	margin-bottom: 10px;
}

.home_banner_area .banner_inner .banner_content p {
	font-size: 15px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	max-width: 100%;
	margin: auto;
}

.home_banner_area .banner_inner .banner_content .org_btn{
	margin-right: 10px;
	margin-top: 45px;
}


/* tất cả nút */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 26px;
	border: none;
	cursor: pointer;
	width: 250px;
	font-size:20px;
}

button:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.org_btn {
	padding: 0px 40px;
	background-image: -webkit-gradient(linear, left top, right top, from(#f766a5), color-stop(51%, #f78762), to(#f766a5));
	background-image: -webkit-linear-gradient(left, #f766a5 0%, #f78762 51%, #f766a5 100%);
	background-image: -o-linear-gradient(left, #f766a5 0%, #f78762 51%, #f766a5 100%);
	background-image: linear-gradient(to right, #f766a5 0%, #f78762 51%, #f766a5 100%);
	background-size: 200% auto;
	z-index: 2;
	display: inline-block;
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	line-height: 50px;
	border-radius: 5px;
}

.org_btn:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.green_btn {
	padding: 0px 40px;
	background-image: -webkit-gradient(linear, left top, right top, from(#73ca96), color-stop(51%, #98d370), to(#73ca96));
	background-image: -webkit-linear-gradient(left, #73ca96 0%, #98d370 51%, #73ca96 100%);
	background-image: -o-linear-gradient(left, #73ca96 0%, #98d370 51%, #73ca96 100%);
	background-image: linear-gradient(to right, #73ca96 0%, #98d370 51%, #73ca96 100%);
	background-size: 200% auto;
	z-index: 2;
	display: inline-block;
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	line-height: 50px;
	border-radius: 5px;
}

.green_btn:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}



/*FAQ*/

input {
	display: none;
}

label > i {
	margin: 6px 0px 3px;
	font-size: large;
	transition: all 0.3s linear;
}

input:checked + label > i {
	transform: rotate(75deg);
}

label + p {
	line-height: 0%;
	color: darkslategray;
	transform: rotateX(90deg);
	transition: all 0.5s linear;
}

input:checked + label + p {
	transform: rotateX(0);
	line-height: 100%;
	line-height: auto;
}

@media (min-width: 992px) {
	.header_area .navbar .nav .nav-item.submenu ul {
		position: absolute;
		top: 120%;
		left: 0px;
		min-width: 200px;
		text-align: left;
		opacity: 0;
		-webkit-transition: all 300ms ease-in;
		-o-transition: all 300ms ease-in;
		transition: all 300ms ease-in;
		visibility: hidden;
		display: block;
		border: none;
		padding: 0px;
		border-radius: 0px;
	}
}

.p_120 {
	padding-top: 120px;
	padding-bottom: 120px;
}
.Container {
	width: 100%;
}
.login-form {
	padding-left: 233px;
	width: 50%;
	text-align: center;
	justify-content: center;
}


/* Login */

.fb-login{
	background-color: #4c66a4;
	width: 100%;
	height: 46px;
	border-radius: 4px;
	border: 1px transparent;
	margin-bottom: 25px;
}
#txtUsername, #txtPassword{
	width: 100%;
	margin-bottom: 20px;
}
#fb_p{
	color: white;
	padding-top: 10px;
}
#login_p{
	color:white;
	padding-top:10px;
}
#btnLogin{
	background-color:#111111;
	width: 100%;
	height: 46px;
	border-radius: 4px;
	border: 1px transparent;
	cursor: pointer;
	max-width: 120px;
	margin-top: 20px;
}
.btnLogin:hover{
	background-color: black;
}
.padding{
	padding-top: 60px;
}
#para{
	color:#555555;
	font-size:18px;
}
#para input[type=text], input[type=password]{
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: white !important;
	max-width: 600px;
}
#error{
	color: red;
	font-size: 20px;
}

#form_login{
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 100px 30px 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

/* finding */

.image-show{
	max-height: 500px;
	max-width: 400px;
}

.image-show{
	margin-left: 180px;
	margin-top: 90px;
	transition: transform 400ms ease-out;
}

.image-show:hover {
	transform: scale(1.05);
}

.btn_finding{
	margin-left: 150px;
	margin-bottom: 350px;
}

.finding-body{
	position: fixed;
}

.text-build{
	text-align: left;
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	max-width: 100%;
	margin-left: 20px;
	margin-top: 30px;
}

#h3-text{
	font-size: 36px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 45px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 25px;
}